<header class="header rel">
	<ul class="head">
		<li class="col-xs-6 headon">
			<a ng-href="#/service/ser">
				服务
			</a>
		</li>
		<li class="col-xs-6">
			<a ng-href="#/service/gold">
				金融
			</a>
		</li>
	</ul>
	<a href="" class="search abs">
		<i class="iconfont">&#xe60b;</i>
	</a>
</header>
<main class="main">
	
<div class="banner">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="Content/images/banner_02.jpg" alt="" />
			</div>
			<div class="swiper-slide">
				<img src="Content/images/banner_02.jpg" alt="" />
			</div>
			<div class="swiper-slide">
				<img src="Content/images/banner_02.jpg" alt="" />
			</div>
			<div class="swiper-slide">
				<img src="Content/images/banner_02.jpg" alt="" />
			</div>
			<div class="swiper-slide">
				<img src="Content/images/banner_02.jpg" alt="" />
			</div>
			<div class="swiper-slide">
				<img src="Content/images/banner_02.jpg" alt="" />
			</div>
			<div class="swiper-slide">
				<img src="Content/images/banner_02.jpg" alt="" />
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
	<section class="carlist">
		<ul class="text-center">
			<li class="col-xs-3">
				<a href="" class="bg-blue">
					<i class="iconfont">
						&#xe784;
					</i>
					<span class="block text-dark">
						 商城
					</span>
				</a>
			</li>
			<li class="col-xs-3">
				<a href="" class="bg-gray">
					<i class="iconfont">
						&#xe60c;
					</i>
					<span class="block text-dark">
						分期
					</span>
				</a>
			</li>
			<li class="col-xs-3">
				<a href="" class="bg-danger">
					<i class="iconfont">
						&#xe668;
					</i>
					<span class="block text-dark">
						团购
					</span>
				</a>
			</li>
			<li class="col-xs-3">
				<a href="" class="bg-aqua">
					<i class="iconfont">
						&#xe66b;
					</i>
					<span class="block text-dark text-center">
						旧车
					</span>
				</a>
			</li>
		</ul>
	</section>

	<section class="adv-banner">
		<img src="Content/images/adv_banner_02.jpg" alt="" />
	</section>

	<section class="servicebox clearfix">
		<h1>车主服务</h1>
		<ul class="text-center bdb1">
			<li class="col-xs-3">
				<a href="">
					<i class="iconfont">
						&#xe615;
					</i>
					<span class="block">
						油卡充值
					</span>
				</a>
			</li>
			<li class="col-xs-3 bdl1">
				<a href="">
					<i class="iconfont">
						&#xe620;
					</i>
					<span class="block">
						低价保险
					</span>
				</a>
			</li>
			<li class="col-xs-3 bdl1">
				<a href="">
					<i class="iconfont">
						&#xe64d;
					</i>
					<span class="block">
						4s店保养
					</span>
				</a>
			</li>
			<li class="col-xs-3 bdl1">
				<a href="">
					<i class="iconfont">
						&#xe6a3;
					</i>
					<span class="block">
						品质轮胎
					</span>
				</a>
			</li>
		</ul>
		<ul class="text-center">
			<li class="col-xs-3 bdt1">
				<a href="">
					<i class="iconfont">
						&#xe784;
					</i>
					<span class="block">
						车品商城
					</span>
				</a>
			</li>
			<li class="col-xs-3 bdl1 bdt1">
				<a href="">
					<i class="iconfont">
						&#xe6c1;
					</i>
					<span class="block">
						洗车
					</span>
				</a>
			</li>
			<li class="col-xs-3 bdl1 bdt1">
				<a href="">
					<i class="iconfont">
						&#xe633;
					</i>
					<span class="block">
						违章代缴
					</span>
				</a>
			</li>
			<li class="col-xs-3 bdl1 bdt1">
				<a href="">
					<i class="iconfont">
						&#xe60e;
					</i>
					<span class="block">
						免费测评
					</span>
				</a>
			</li>
		</ul>
		<ul class="text-center">
			<li class="col-xs-3 bdt1">
				<a href="">
					<i class="iconfont">
						&#xe61a;
					</i>
					<span class="block">
						差周边
					</span>
				</a>
			</li>
			<li class="col-xs-3 bdl1 bdt1">
				<a href="">
					<i class="iconfont text-blue">
						&#xe603;
					</i>
					<span class="block">
						车主卡
					</span>
				</a>
			</li>
			<li class="col-xs-3 bdl1 bdt1">
				<a href="">
					<i class="iconfont">
						&#xe643;
					</i>
					<span class="block">
						领券保养
					</span>
				</a>
			</li>
			<li class="col-xs-3 bdl1 bdt1">
				<a href="">
					<i class="iconfont">
						&#xe612;
					</i>
					<span class="block">
						全部
					</span>
				</a>
			</li>
		</ul>
	</section>
	
	<section class="limit-time">
		<div class="limit-head">
			<h4 class="float-left">限时抢购</h4>
			<div class="countdown float-right pr5">
				<span class="downtime hour timenum">13</span>
				<span class="cut-apart">:</span>
				<span class="downtime minnute timenum">13</span>
				<span class="cut-apart">:</span>
				<span class="downtime second timenum">13</span>
			</div>
		</div>
		<div class="limit-content">
			<ul>
				<li class="limitItem">
					<img src="Content/images/iscroll1.jpg" alt="" />
					<p class="introduce">补胎简易套装</p>
					<span class="now-price">￥9.9</span>
					<span class="prev-price text-through">28元</span>
				</li>
				<li class="limitItem">
					<img src="Content/images/iscroll2.jpg" alt="" />
					<p class="introduce">补胎简易套装</p>
					<span class="now-price">￥9.9</span>
					<span class="prev-price text-through">28元</span>
				</li>
				<li class="limitItem">
					<img src="Content/images/iscroll3.jpg" alt="" />
					<p class="introduce">补胎简易套装</p>
					<span class="now-price">￥9.9</span>
					<span class="prev-price text-through">28元</span>
				</li>
				<li class="limitItem">
					<img src="Content/images/iscroll1.jpg" alt="" />
					<p class="introduce">补胎简易套装</p>
					<span class="now-price">￥9.9</span>
					<span class="prev-price text-through">28元</span>
				</li>
				<li class="limitItem">
					<img src="Content/images/iscroll2.jpg" alt="" />
					<p class="introduce">补胎简易套装</p>
					<span class="now-price">￥9.9</span>
					<span class="prev-price text-through">28元</span>
				</li>
				<li class="limitItem">
					<img src="Content/images/iscroll3.jpg" alt="" />
					<p class="introduce">补胎简易套装</p>
					<span class="now-price">￥9.9</span>
					<span class="prev-price text-through">28元</span>
				</li>
			</ul>
		</div>

	</section>
	<p class="clear"></p>
	<section class="like-box">
		<div class="car-head">
			<h4><span class="float-right">更多<i class="iconfont">&#xe504;</i></span>猜你喜欢</h4>
		</div>
		<div class="car-content">
			<ul>
				<li class="col-xs-6 bdr1 bdb1">
					<img src="Content/images/car1.jpg" alt="" />
					<h5>上海大众-全新旅途L</h5>
					<p>上海大众-全新旅途L享2年0利率</p>
					<span>1元 <small class="text-through text-gray ml15">1.4万</small></span>
				</li>
				<li class="col-xs-6 bdb1">
					<img src="Content/images/car2.jpg" alt="" />
					<h5>上海大众-全新旅途L</h5>
					<p>上海大众-全新旅途L享2年0利率</p>
					<span>1元 <small class="text-through text-gray ml15">1.4万</small></span>
				</li>
			
				<li class="col-xs-6 bdb1">
					<img src="Content/images/car3.jpg" alt="" />
					<h5>上海大众-全新旅途L</h5>
					<p>上海大众-全新旅途L享2年0利率</p>
					<span>1元 <small class="text-through text-gray ml15">1.4万</small></span>
				</li>
				<li class="col-xs-6 bdb1 bdl1">
					<img src="Content/images/car4.jpg" alt="" />
					<h5>上海大众-全新旅途L</h5>
					<p>上海大众-全新旅途L享2年0利率</p>
					<span>1元 <small class="text-through text-gray ml15">1.4万</small></span>
				</li>
			</ul>
		</div>
		
	</section>
	
</main>
<footer class="footer">
	<div class="more clearfix" id="more">
			点击加载更多
		</div>
	<ul class="text-center">
		<li>
			<a href="" class="footon">
				<i class="iconfont">
					&#xe637;
				</i>
				<span class="block">
					首页
				</span>
			</a>
		</li>
		<li>
			<a href="">
				<i class="iconfont">
					&#xe635;
				</i>
				<span class="block">
					论坛
				</span>
			</a>
		</li>
		<li>
			<a href="">
				<i class="iconfont">
					&#xe60c;
				</i>
				<span class="block">
					选车
				</span>
			</a>
		</li>
		<li>
			<a href="">
				<i class="iconfont">
					&#xe503;
				</i>
				<span class="block">
					发现
				</span>
			</a>
		</li>
		<li>
			<a href="">
				<i class="iconfont">
					&#xe63e;
				</i>
				<span class="block">
					未登录
				</span>
			</a>
		</li>
	</ul>
</footer>
